main {
	grid-column: 2/3;

	background: hsl(140 50% 50%);
}

@media screen and (max-width: 575px) {
	main {
		height: calc(100vh - 50px);
	}
}

.message-backdrop {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 1rem;
}

.message-backdrop > svg {
	height: 300px;
	width: 300px;
}

.message-backdrop__text {
	margin: 0;

	color: #fff;
	font-size: 6rem;
	text-align: center;
}

.message-board {
	align-self: flex-start;
	display: flex;
	flex-direction: column;
	height: calc(100vh - 133px);
	padding: 3rem;

	color: #fff;
	overflow-y: scroll;
	scrollbar-color: hsl(140 50% 40%) hsl(140 50% 50%);
	scrollbar-width: thin;
}

@media screen and (max-width: 575px) {
	.message-board {
		height: calc(100vh - 130px);
		padding: 1.6rem;
	}
}

.message-board::-webkit-scrollbar {
	width: .5rem;
}
.message-board::-webkit-scrollbar-track {
	background: hsl(140 50% 50%);
}
.message-board::-webkit-scrollbar-thumb {
	background: hsl(140 50% 40%);
	border-radius: 5px;
}

.message-item {
	position: relative;

	align-self: flex-start;
	margin-bottom: 2rem;
	padding: 1rem 2rem 2rem;
	max-width: 70%;
	width: auto;

	background: hsl(140 50% 40%);
	border-radius: 5px;
}

@media screen and (max-width: 575px) {
	.message-item {
		min-width: 50%;
		max-width: 90%;
	}
}

.message-item.you {
	align-self: flex-end;
}

.message-info {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin-bottom: 1rem;
}

.message-info > div {
	align-items: center;
	display: flex;
}

.message-item.you .message-info {
	justify-content: flex-end;
}

.message-avatar {
	align-items: center;
	display: flex;
	justify-content: center;
	height: 30px;
	margin-right: 1rem;
	width: 30px;

	border: 2px solid hsl(140 50% 80%);
	border-radius: 50%;
	color: hsl(140 50% 80%);
}

.message-item.you .message-avatar {
	order: 2;
	margin-right: 0;

	color: hsl(140 80% 50%);
	border-color: hsl(140 80% 50%);
	font-weight: bold;
}

.message-nickname {
	margin-right: 1rem;

	color: hsl(140 50% 90%);
	font-size: 1.8rem;
	font-weight: 500;
}

.message-date {
	position: absolute;
	bottom: 0;
	right: .6rem;
	left: .6rem;

	color: hsl(140 50% 65%);
	font-weight: 500;
}

.message-text {
	font-size: 1.8rem;
}

.message-form {
	align-items: center;
	display: flex;
	max-width: 80rem;
	padding: 2rem 3rem;
}

@media screen and (max-width: 575px) {
	.message-form {
		max-width: 100%;
		padding: 2rem 1.6rem;
	}
}

.message-input {
	flex: 85;
	height: 4rem;
	padding: 0 2rem;

	border: 1px solid hsl(140 50% 40%);
	border-radius: 10px;
	font-size: 1.8rem;
}

@media screen and (max-width: 575px) {
	.message-input {
		padding: 0;
	}
}

.btn-send {
	flex: 3rem;
	height: 3rem;
	margin-left: 1rem;
	max-width: 3rem;

	background: hsl(0 0% 95%);
	border: none;
	clip-path: polygon(0 0, 100% 50%, 0 100%);
	cursor: pointer;
	transition: background .3s;
}
.btn-send:hover {
	background: hsl(140 50% 30%);
}