.header-toggler {
  position: absolute;
  top: -10px;
  left: -10px;

  display: none;
}

@media screen and (max-width: 575px) {
  .header-toggler {
    display: block !important;
  }
  .header-toggler + label {
    display: block !important;
  }
}

.header-toggler + label {
  position: absolute;
  top: 1.6rem;
  left: 1.6rem;
  z-index: 3;

  display: none;

	cursor: pointer;
}
.header-toggler + label:hover span {
  background: #fff;
}

.header-toggler + label span {
  position: relative;
  z-index: 1;

  display: block;
  height: 4px;
  margin-bottom: 5px;
  width: 33px;
  
  background: #232323;
  border-radius: 3px;
  transition: 
  	transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
  	background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease;
}

.header-toggler:checked + label span {
  opacity: 1;
  transform: rotate(45deg) translateY(-12px);
  background: #232323;
}
.header-toggler:checked + label:hover span {
  background: #fff;
}

.header-toggler:checked + label span:nth-last-child(2) {
  opacity: 0;
  transform: rotate(0deg);
}

.header-toggler:checked + label span:nth-last-child(3) {
  transform: rotate(-45deg) translateY(12px);
}

.header-toggler:checked ~ aside {
  display: block;
}